.App {
  animation: background-move infinite 120s linear;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("./media/business.jpg");
  background-size: 100vw 100vh;
  min-height: 100vh;
}

@keyframes background-move {
  from {
    background-position: -5vw;
  }

  to {
    background-position: 110vw;
  }
}